---
http_interactions:
- request:
    method: get
    uri: https://rxnav.nlm.nih.gov/RxNormDBService.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 13 Dec 2016 18:28:40 GMT
      Etag:
      - '"e6b2-5438e63a92600"'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wsdl:definitions targetNamespace="https://mor.nlm.nih.gov/axis/services/RxNormDBService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="https://mor.nlm.nih.gov/axis/services/RxNormDBService" xmlns:intf="https://mor.nlm.nih.gov/axis/services/RxNormDBService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:BeanService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <!--WSDL created by Apache Axis version: 1.4
        Built on Apr 22, 2006 (06:55:48 PDT)-->
         <wsdl:types>
          <schema targetNamespace="https://mor.nlm.nih.gov/axis/services/RxNormDBService" xmlns="http://www.w3.org/2001/XMLSchema">
           <import namespace="urn:BeanService"/>
           <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
           <complexType name="ArrayOf_soapenc_string">
            <complexContent>
             <restriction base="soapenc:Array">
              <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
             </restriction>
            </complexContent>
           </complexType>
           <complexType name="ArrayOf_tns1_RxConcept">
            <complexContent>
             <restriction base="soapenc:Array">
              <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:RxConcept[]"/>
             </restriction>
            </complexContent>
           </complexType>
           <complexType name="ArrayOf_tns1_RxConceptGro[...]
- request:
    method: post
    uri: https://mor.nlm.nih.gov/axis/services/RxNormDBService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="https://mor.nlm.nih.gov/axis/services/RxNormDBService"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="urn:BeanService"><env:Body><impl:getSpellingSuggestions><term>Topamax</term></impl:getSpellingSuggestions></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"getSpellingSuggestions"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:getSpellingSuggestionsResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="https://mor.nlm.nih.gov/axis/services/RxNormDBService"><getSpellingSuggestionsReturn
        soapenc:arrayType="soapenc:string[10]" xsi:type="soapenc:Array" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><getSpellingSuggestionsReturn
        xsi:type="soapenc:string">Topamax</getSpellingSuggestionsReturn><getSpellingSuggestionsReturn
        xsi:type="soapenc:string">Toposar</getSpellingSuggestionsReturn><getSpellingSuggestionsReturn
        xsi:type="soapenc:string">Topex</getSpellingSuggestionsReturn><getSpellingSuggestionsReturn
        xsi:type="soapenc:string">Tindamax</getSpellingSuggestionsReturn><getSpellingSuggestionsReturn
        xsi:type="soapenc:string">Thiamin</getSpellingSuggestionsReturn><getSpellingSuggestionsReturn
        xsi:type="soapenc:string">Tobrex</getSpellingSuggestionsReturn><getSpellingSuggestionsReturn
        xsi:type="soapenc:string">TPM</getSpellingSuggestionsReturn><getSpellingSuggestionsReturn
        xsi:type="soapenc:string">Trianex</getSpellingSuggestionsReturn><getSpellingSuggestionsReturn
        xsi:type="soapenc:string">Topiramato</getSpellingSuggestionsReturn><getSpellingSuggestionsReturn
        xsi:type="soapenc:string">Tokisan</getSpellingSuggestionsReturn></getSpellingSuggestionsReturn></ns1:getSpellingSuggestionsResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Tue, 15 Aug 2017 04:02:51 GMT
recorded_with: VCR 3.0.3
